[Unit]
Description=Run the Boncam video server
After=network.target multi-user.target

[Service]
Type=simple
ExecStart=/opt/bonecam/bin/autostart-video.sh

[Install]
WantedBy=multi-user.target
