[Unit]
Description=Run the Boncam video server
After=network.target 

[Service]
Type=simple
ExecStart=/opt/bonecam/bin/bonecam-app.sh

[Install]
WantedBy=multi-user.target
